* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	
}

.main {
	background-color: rgba(0, 0, 0, .9);
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20%;
	width: 100%;
	height: 80px;

}

.main2 {
	font-size: xx-large;
}
.good {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 40px;
	text-decoration: none;
}

.good li {
	font-weight: bold;

}

.main3 {
	
	height: 70vh;
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
    padding: 0 50px;
}

#orange {

	background-color: orange;
	color: whitesmoke;
	border: none;
	width: 250px;
	height: 50px;
	border-radius: 5%;
}

#orange a {
	text-decoration: none;
	color: whitesmoke;
	font-weight: bold;
}
.maim20{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 70px;

}
#spaxx{
	padding-left: 20%;
	font-size: xx-large;
	font-weight: 1000;
	
}
.btn{
	text-decoration: none;
	background-color: orange;
	color: white;
	border: none;
	width: 200px;
	border-radius: 10%;
}
.list-unstyled{
	flex-direction: column;

}
.text-uppercase{
	justify-content: center;
	align-items: center;
}
.footer{
	background-color: rgba(0, 0, 0, .8);
	color: whitesmoke;
	justify-content: center;
	display: flex;
	padding-top: 40px;
	gap: 8%;
	align-items: center;
}
.hhhij{
    text-decoration: none;
	list-style: none;
}
.jjjkkll{
      font-size: xx-large;
	  
	  
}
.jjjkkll a{
	text-decoration: none;
	color: orange;
}
.large{
	font-size: xx-large;
	font-weight: bold;
}
.maaas a{
    text-decoration: none;
	color: whitesmoke;
	
}